.style {
  color: black;
  border: solid 0.05em;
  border-color: #2561b6;
  border-radius: 10%;
}

.styleblue {
  color: black;
  border: solid 0.05em;
  border-color: hsl(291, 60%, 39%);
  border-radius: 10%;
}

.switchlocaleposition {
  position: fixed;
  top: 20px;
  left: 80px;
  z-index: 21;
}